@import "bootstrap-icons/font/bootstrap-icons.css";

.nav-icon--lower.active-link {
  position: relative;
}

.nav-icon--lower.active-link::after {
  content: "";
  position: absolute;
  bottom: 3px; 
  left: 50%;
  transform: translateX(-50%); 
  width: 30%;
  height: 2px;
  background: #7C67BB;
background: linear-gradient(90deg,rgba(124, 103, 187, 1) 50%, rgba(99, 180, 152, 1) 100%);
  transition: width 0.3s;
  border-radius: 10px;
}

.p-sidebar{
    font-size: 10px;
   background: linear-gradient(90deg,rgba(124, 103, 187, 1) 20%, rgba(99, 180, 152, 1) 97%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin: 0;
}

.title-color {
  display: inline-block;
  background: linear-gradient(90deg,rgba(124, 103, 187, 1) 5%, rgba(99, 180, 152, 1) 37%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 300;
}
.bg-color {
  background: linear-gradient(90deg,rgba(124, 103, 187, 1) 5%, rgba(99, 180, 152, 1) 70%);
}
.bgTop {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}

.bgBottom {
  position: absolute;
  z-index: -1;
  bottom: -50px;
  left: 0;
  width: 100%;
  pointer-events: none;
}



.elipseLight{
    position: absolute;
    top:0;
    right: 0;
    z-index: -1;
}

.elipseColor{
    position: absolute;
    top:350px
    
}

.title-recipe{
  font-size: 0.9rem;
}

.scroll-container {
  display: flex;
  overflow-x: auto;
  padding-bottom: 10px;
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

.scroll-container::-webkit-scrollbar {
  display: none; 
}



.landing-bg {
  background: linear-gradient(135deg, #e8f5e9, #f1f8e9);
  min-height: 100vh;
  padding-bottom: 80px;
}

.logo-landing {
  max-width: 180px;
  animation: zoomIn 1s ease;
}

.login-img {
  max-height: 280px;
}

.title-color {
  color: #4c6f1e;
}

.bg-color {
  background-color: #abc631;
}

.feature-list {
  list-style: none;
  padding-left: 0;
}

.feature-list li {
  margin-bottom: 12px;
  font-size: 1rem;
  font-weight: 500;
}


.contact-bg {
  background: #f9f9f9;
  min-height: 100vh;
}

.contact-info p {
  font-size: 1.1rem;
  margin-bottom: 1.2rem;
  transition: all 0.2s ease-in-out;
}

.contact-link {
  color: #444;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: all 0.3s ease;
}

.contact-link:hover {
  color: #5d8233;
  border-bottom: 1px solid #5d8233;
}